= render partial: "/templates/left_group_list", locals: {groups: @groups}
.maincontent
  .header
    .edit_button
      = link_to "Edit", edit_group_path(@group)
    %p.main_group_name= @group.name
    %p.main_group_member Members:
    - @group.users.each do |user|
      %p.main_group_member= user.name
  .chatcontent
    #list
      = render @comments
  .input_text_area
    =form_for [@group, @comment] do |f|
      =f.text_field :text, placeholder: 'type a message', class: 'form_area', id: "text_field"
      =f.submit class: 'button_area', value: "send", id: "input"